ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }
  .active2 {
    background-color: blueviolet;
    width: 140px;
  }

  table td {
    text-align: center;
  }

  table td button {
    /* padding: 10px; */
    margin-right: 5px;
  }

  button {

    height: 60px;
    min-width: 100px;
    background-color: aqua;
    margin: 5px;
  }

  button a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
  }

  button a:hover {
    color: black;
  }

  tr:hover {
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
  }

  div.table {
    justify-content: center;
  }