ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: center; */
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #4CAF50;
  }
  .active2 {
    background-color: blueviolet;
    width: 80px;
  }

  table td {
    text-align: center;
  }

  table td button {
    /* padding: 10px; */
    margin-right: 5px;
  }

  button {

    height: 60px;
    min-width: 100px;
    background-color: aqua;
    margin: 5px;
  }

  button a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
  }

  button a:hover {
    color: black;
  }

  tr:hover {
    background-color: green;
    color: whitesmoke;
    font-weight: bold;
  }

  div.table {
    justify-content: center;
  }




  /* The device with borders */
  .smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  /* The screen (or content) of the device */
  .smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
  }